@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  fontFamily: "'Playfair Display', serif";
  fontWeight: 700;
  background-color: rgb(250, 220, 182);
}

html{
  fontFamily: "'Playfair Display', serif";
  fontWeight: 700;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.7s both;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px);}
    to { opacity: 1; transform: none;}
  }
}

